# Exclude formatting
pnpm-lock.yaml
*.md
.venv-music-align/

# Avoid incorrect processing
SearchSwitch.astro

# Avoid HTML mismatches
releases.mdx
prs.mdx

# Avoid whitespace affecting style
Link.astro
